 body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #e3f2fd;
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: 100vh;
        }
        
        header {
            background: #2196F3;
            color: white;
            padding: 15px;
            font-size: 24px;
            width: 100%;
            text-align: center;
        }
        
        nav {
            display: flex;
            justify-content: center;
            background: #1565C0;
            padding: 15px;
            width: 100%;
        }
        
        nav a {
            color: white;
            text-decoration: none;
            margin: 0 15px;
            font-size: 18px;
        }
        
        .container {
            display: flex;
            flex-wrap: wrap;
            width: 95%;
            margin-top: 30px;
            justify-content: space-between;
            gap: 30px;
        }
        
        .sidebar {
            flex: 1;
            height: 250px;
            min-width: 200px;
            background: white;
            padding: 20px;
            border-radius: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }
         
        .map-container {
            flex: 2;
            min-width: 300px;
            background: white;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            height: 380px;
            text-align: center;
            line-height: 300px;
            margin-bottom: 20px;
        }
        

        .container2 {
            display: flex;
            width: 95%;
            margin-top: 10px; 
            gap: 20px;

        }

        .sidebar2 {
            width: 31%;
            background: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            /*margin-right: 100px;*/

        }


        .bin-images {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: auto;
            
            
            background: white;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 10px;
            margin-left: 30%;
            /*margin-right: 100px;*/

        }
        
        .bin-item {
            text-align: center;
            margin: 10px;
        }
        
        .bin-item p {
            font-size: 10px;
            font-weight: bold;
            margin-bottom: 5px;
        }
        
        .bin-item img {
            max-width: 55px;
            height: auto;
        }
        
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
        }
        
        .modal-content {
            background-color: white;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 50%;
            border-radius: 10px;
            text-align: center;
        }
        
        .close {
            color: red;
            float: right;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
        }

        .logo {
            top: 15px;
            position: absolute;
            left: 5px;
            width: 65px;
            height: auto;
        }
        
        @media (max-width: 768px) {
            .container {
                flex-direction: column;
                align-items: center;
            }
            .map-container {
                margin-left: 0;
            }
            .bin-images{
                order: 1;
                top: -10px; /* Mueve el contenedor hacia arriba */
                margin: auto; /* Centra horizontalmente */
            }
            .container2 {
                flex-direction: column;
                align-items: center;
            }
            .sidebar2{

                order: 2; /* Se posiciona al final */
                width: 65%;
                margin-top: 20px;
            }

        }