
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e3f2fd;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}


header {
    background: #2196F3;
    color: white;
    padding: 15px;
    font-size: 24px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

nav {
    display: flex;
    justify-content: center;
    background: #1565C0;
    padding: 10px;
    width: 100%;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 15px;
    border-radius: 8px;
    transition: background 0.3s ease-in-out;
}


/* Opción al pasar el ratón (hover) */
.nav-link:hover {
    font-size: 18px;  /* Opcional: aumentar el tamaño cuando el usuario pasa el ratón */
    transition: font-size 0.3s ease;  /* Suaviza la transición */
    background-color: #94daee;
}

/* Contenedor principal */
.container {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin-top: 30px;
    justify-content: space-between;
    gap: 30px;
}


.sidebar {
    flex: 1;
    height: 250px;
    min-width: 200px;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.sidebar h3 {
    margin-bottom: 10px;
}


button {
    transition: background-color 0.3s ease, transform 0.2s ease;

    background-color: #2196F3;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    
}

button:hover {
    background-color: #94daee;
    transform: scale(1.05);
}


button[data-modal="modalLleno"] {
    background-color: #FF9800;
}

button[data-modal="modalLleno"]:hover {
    background-color: #F57C00;
}

button[data-modal="modalDanado"] {
    background-color: #fa0d0de4;
}

button[data-modal="modalDanado"]:hover {
    background-color: #D32F2F;
}

.map-container {
    flex: 2;
    min-width: 300px;
    background: white;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    position: relative; 
}
#map {
    z-index: 0 !important; 
    width: 100%;
    height: 100%;
    min-height: 430px; 
    border-radius: 10px;
}
/* Contenedor secundario*/
.container2 {
    display: flex;
    width: 95%;
    margin-top: 5px;
    gap: 20px;
}

.sidebar2 {
    width: 31%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.bin-images {
    display: flex;
    justify-content: center;
    background: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    width: fit-content;
}

.bin-item {
    text-align: start;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.bin-item p {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 2px;
}

.bin-item img {
    max-width: 45px;
    height: auto;
    display: block; 
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    transition: opacity 0.3s ease-in-out;
}


.modal.active {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    width: 50%;
    max-width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.close:hover {
    color: darkred;
}

.logo {
    position: absolute;
    top: 50px;
    left: 5px;
    width: 65px;
    height: auto;
}

/* Responsividad */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .map-container {
        margin-left: 0;
        width: 90%;
        margin-top: -20px;
    }

    .bin-images {
        order: 1;
        top: -10px;
        margin: auto;
    }

    .container2 {
        flex-direction: column;
        align-items: center;
    }

    .sidebar2 {
        order: 2;
        width: 90%;
        margin-top: 10px;
    }

    .modal-content {
        width: 80%;
    }
}
